/* font-family: 'Montserrat', sans-serif; */
:root {
  --grey-300: #2e323f;
  --grey-200: #3b4050;
  --grey-100: #6f737f;
  --white: #fff;
  --brown: #a59678;

  --fs-18: 1.125rem;
  --fs-21: 1.3125rem;
  --fs-24: 1.5rem;
  --fs-30: 1.875rem;
  --fs-36: 2.25rem;
  --fs-64: 4rem;
  --fs-90: 5.625rem;

  --fw-400: 400;
  --fw-700: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
  color: var(--white);
  font-weight: var(--fw-700);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.btn {
  background-color: var(--brown);
}

.btn:hover,
.btn:focus,
.nav__links:hover,
.nav__links:focus {
  opacity: 0.75;
}

.container {
  width: min(80%, 1200px);
  margin: 0 auto;
  position: relative;
}

/* Navbar */

.header {
  background-color: var(--grey-300);
  color: var(--white);
  padding: 1em 0;
  text-align: center;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0;
  border-radius: 50%;
  background-color: var(--grey-100);
  color: var(--white);
  transition: opacity 250ms ease;

  position: absolute;
  left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background-color: white;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.nav__list {
  margin-top: 2em;
}

.nav__item + .nav__item {
  margin-top: 1em;
}

.nav__links {
  font-size: var(--fs-18);
  text-transform: uppercase;
}

.btn--nav {
  padding: 0.2em 1em;
  border-radius: 100vh;
}

/* Section 1 */

.section1 {
  background-color: var(--grey-200);
  padding: 4em 0;
}

.section1__col + .section1__col {
  margin-top: 2rem;
}

.section1__title {
  font-size: var(--fs-64);
  color: var(--white);
  line-height: 1;
}

.section1__title span {
  color: var(--brown);
}

.section1__info {
  font-size: var(--fs-18);
  color: var(--white);
  margin-bottom: 2rem;
  line-height: 1.6;
}

.btn--primary {
  display: inline-block;
  text-transform: uppercase;
  border-radius: 100vh;
  padding: 0.5em 1em;
  letter-spacing: 1px;
}

/* Section 2 */

.section2 {
  background-color: var(--grey-100);
}

.section2__title {
  color: var(--brown);
}

/* Section 3 */
.section3__title {
  color: var(--brown);
}

.aside {
  background-color: var(--grey-200);
  color: var(--white);
}

.footer {
  background-color: var(--grey-200);
}

.footer__title {
  color: var(--brown);
}

.footer__info {
  color: var(--white);
}
