/* font-family: 'Montserrat', sans-serif; */
:root {
  --grey-400: #2e323f;
  --grey-300: #3b4050;
  --grey-200: #6f737f;
  --grey-100: #c4c3c3;
  --white: #fff;
  --brown: #a59678;

  --fs-18: 1.125rem;
  --fs-21: 1.3125rem;
  --fs-24: 1.5rem;
  --fs-30: 1.875rem;
  --fs-36: 2.25rem;
  --fs-64: 4rem;
  --fs-90: 5.625rem;

  --fw-400: 400;
  --fw-700: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: var(--white);
  font-weight: var(--fw-700);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.btn {
  font-family: inherit;
  background-color: var(--brown);
}

.btn:hover,
.btn:focus,
.nav__links:hover,
.nav__links:focus,
.footer a:hover,
.footer a:focus {
  opacity: 0.75;
}

.container {
  width: min(80%, 1200px);
  margin: 0 auto;
  position: relative;
}

/* Navbar */

.header {
  background-color: var(--grey-400);
  color: var(--white);
  padding: 1rem 0;
  text-align: center;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  border-radius: 50%;
  background-color: var(--grey-200);
  color: var(--white);
  transition: opacity 250ms ease;

  position: absolute;
  left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background-color: white;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.nav__list {
  margin-top: 2rem;
}

.nav__item + .nav__item {
  margin-top: 1rem;
}

.nav__links {
  font-size: var(--fs-18);
  text-transform: uppercase;
}

.btn--nav {
  padding: 0.2em 1em;
  border-radius: 100vh;
}

/* Section 1 */

.section1 {
  background-color: var(--grey-300);
  padding: 4rem 0;
}

.section1__col:nth-child(1) {
  margin-bottom: 2rem;
}

.section1__title {
  font-size: var(--fs-64);
  color: var(--white);
  line-height: 1.1;
}

.section1__title span {
  color: var(--brown);
}

.section1__info {
  font-size: var(--fs-18);
  color: var(--white);
  margin-bottom: 2rem;
}

.btn--primary {
  display: inline-block;
  font-size: var(--fs-18);
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 100vh;
  padding: 0.7em 1.5em;
}

/* Section 2 */

.section2 {
  background-color: var(--grey-100);
  padding: 2rem 0;
}

.section2__col:not(:last-child) {
  margin-bottom: 2rem;
}

.section2__title {
  color: var(--brown);
  text-align: center;
  margin-bottom: 0.5rem;
}

/* Section 3 */
.section3 {
  padding: 2rem 0;
}

.section3__title {
  color: var(--brown);
}

.section3__info {
  margin: 1rem 0;
}

.section__info-boxes {
  background-color: var(--grey-300);
  padding: 2rem;
}

.section__info-boxes + .section__info-boxes {
  margin-top: 1rem;
}

.info-box__title {
  color: var(--brown);
  text-align: center;
  margin-bottom: 1rem;
  line-height: 1;
}

.info-box__details {
  color: var(--white);
  text-align: center;
}

/* Footer */
.footer {
  background-color: var(--grey-300);
  padding: 2rem 0;
}

.footer__header {
  text-align: center;
  color: var(--white);
  margin-bottom: 2rem;
}

.footer__col:not(:last-child) {
  margin-bottom: 2rem;
}

.footer__title {
  color: var(--brown);
  margin-bottom: 0.5rem;
}

.footer__info {
  color: var(--white);
}

.footer__list-items {
  margin-bottom: 1rem;
}

@media (min-width: 700px) {
  .row {
    display: flex;
    justify-content: space-between;
  }

  /* Navbar */
  .nav {
    visibility: visible;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
  }

  .nav__list {
    margin: 0;
    display: flex;
  }

  .nav__item {
    margin: 0 0 0 1.5rem;
  }

  .nav__item + .nav__item {
    margin-top: 0;
  }

  .nav-toggle {
    display: none;
  }

  /* Section 1 */
  .section1 {
    padding: 100px 0;
  }

  .section1__col:nth-child(1) {
    margin-bottom: 0;
  }

  .section1__info {
  }

  .section1__col1 {
    width: 60%;
  }

  .section1__col2 {
    width: 35%;
    align-self: flex-end;
  }

  /* Section 3 */
  .section3 .row {
    flex-direction: column;
  }
}
